<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>New Student SignUp</h1>

      <%= form_with(model: @student, id: "new-student", local: false) do |form| %>
        <div class="form-group">
          <%= form.label :name %><br>
          <%= form.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :password %><br>
          <%= form.password_field :password, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :confirm_password %><br>
          <%= form.password_field :password_confirmation, class: 'form-control' %>
        </div>


        <div class="form-group">
          <%= form.label :sem %><br>
          <%= form.text_area :sem, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :gender %><br>
          <%= form.text_area :gender, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :address %><br>
          <%= form.text_area :address, class: 'form-control' %>
        </div>

        <%= form.submit 'Submit', :class=> 'btn btn-primary' %>

      <% end %>

      <script>
      window.addEventListener("load", () => {
        const element = document.querySelector("#new-student");
        element.addEventListener("ajax:success", (event) => {
          const [_data, _status, xhr] = event.detail;
          element.insertAdjacentHTML("beforeend", xhr.responseText);
        });
        element.addEventListener("ajax:error", () => {
          element.insertAdjacentHTML("beforeend", "<p>ERROR</p>");
        });
      });
      </script>
    </div>
  </div>
</div>

