<h1>New Student SignUp</h1>

<%= form_with model: @student do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @student.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
    <% @student.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :confirm_password %><br>
    <%= form.password_field :password_confirmation %>
    <% @student.errors.full_messages_for(:password_confirmation).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>


  <div>
    <%= form.label :sem %><br>
    <%= form.text_area :sem %>
    <% @student.errors.full_messages_for(:sem).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :gender %><br>
    <%= form.text_area :gender %>
    <% @student.errors.full_messages_for(:gender).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :address %><br>
    <%= form.text_area :address %>
    <% @student.errors.full_messages_for(:address).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>